#area, #geneth, #personal, #letters {
float: left;
padding: 0;
}

#letters {
margin-left: 0.5em;
}

#letters .material-list {
background: #ddd;
}


#area ul, #personal ul, #letters ul {
padding: 0;
margin: 0 0 0.5em 0;
}
#area li, #personal li, #letters li {
display: block;
padding: 0.1em 0.5em;
}
#geneth select {
margin: 0.1em 0.5em;
}
.review-list {
padding: 0.5em 0;
margin: 0;
}
.review-list li {
display: block;
margin: 1em 0.5em;
}
.review-list div.pre p {
margin: 0.5em 0 0 0;
padding: 0;
}
.review-form {
margin: 0 10% 0 0.5em;
text-align: right;
}
.review-form textarea {
border: 1px solid #a0a0a0;
margin: 1em 0;
}
.review-form strong.enterrev {
display: block;
text-align: left;
}

.review-form table {
text-align: left;
margin: 0.5em 0;
}

.review-form ul {
clear: both;
display: block;
margin: 0;
padding: 0;
text-align: left;
}
.review-form ul li {
display: block;
}

ul.review-list {
list-style-type: none;
}

ul.checkbox-list {
list-style-type: none;
}

.review-form input[type=button] {
margin: 0 0 0 0.1em;
}

.unverified {
color: red;
font-style: italic;
}

th, td { 
     padding-left: 10px;
     padding-right: 10px;
 }


